$path: "/modules/huntgem";
//STYLE THEME
$primary: #00FFFF;
$primary-2: #16b43e;
$primary-6: #096520;
$second: #2bdc57;
//STYLE LIBRA
$neutrals-1: #141416;
$neutrals-2: #23262f;
$neutrals-3: #353945;
$neutrals-4: #777e90;
$neutrals-5: #b1b5c3;
$neutrals-6: #e6e8ec;
$neutrals-7: #f4f5f6;
$neutrals-8: #fcfcfd;
$neutrals-9: #9a9fa5;
$success: #66c56d;
$error: #fa9494;
$pending: #ffb780;
$waiting: #f1ed86;
$cancel: #777e90;
$processing: #0066ff;
$error-bg: rgba(250, 148, 148, 0.12);
$success-bg: rgba(102, 255, 102, 0.12);
$pending-bg: rgba(255, 183, 128, 0.12);
$waiting-bg: rgba(241, 237, 134, 0.12);
$cancel-bg: rgb(35, 38, 47);
$processing-bg: rgba(0, 102, 255, 0.12);
//FONT
$Galactus: "Galactus";
$Inter: "Inter";
